<section class="modal-login">
  <img src="../../../../assets/images/logo.svg" class="logo" alt="blaze" />
  <h4 class="login-title">Faça login em sua conta</h4>

  <form class="form">
    <div class="container-inputs">
      <input type="email" placeholder="Email" class="input">
      <input type="password" placeholder="Senha" class="input">
    </div>
  
    <p class="forgot-pass">Esqueci a minha senha</p>

    <button class="btn">Entrar</button>
  </form>

  <div class="divider">
    <span>OU</span>
  </div>

  <div class="container-login-social">
    <button class="btn-social">
      <img src="../../../../assets/images/google.svg" alt="login com o google">
    </button>

    <button class="btn-social">
      <img src="../../../../assets/images/steam.svg" alt="login com o steam">
    </button>

    <button class="btn-social">
      <img src="../../../../assets/images/twitch.svg" alt="login com o twitch">
    </button>
  </div>
  
  <p class="terms">Não tem uma conta ainda? <span>Crie uma agora!</span></p>
</section>
