<section id="tabs-description-double">
  <mat-tab-group
    [selectedIndex]="activeTabIndex"
    (selectedIndexChange)="onTabChange($event)"
  >
    <mat-tab label="APOSTAS">
      <div class="roulette-container">
        <div class="roulette red">
          <div class="color-value">
            <h3>Vitória 2X</h3>
            <img src="../../../../../assets/images/red-box.svg" alt="red-box" />
          </div>

          <div class="rouletted-header">
            <p>Total apostado</p>
            <p>R$ 2,770.19</p>
          </div>

          <div class="roulette-users-header">
            <p>Usuário</p>
            <p>Quantia</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/gold.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/diamond.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/diamond.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/platinum.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/platinum.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/diamond.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/platinum.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/diamond.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/gold.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/gold.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="footer">
            <p class="qtd-players">+846 Jogadores</p>
            <p>R$ 4,737.30</p>
          </div>
        </div>

        <div class="roulette white">
          <div class="color-value">
            <h3>Vitória 14X</h3>
            <img
              src="../../../../../assets/images/logo_white.jpg"
              style="border-radius: 8px"
              alt="logo_white"
            />
          </div>

          <div class="rouletted-header">
            <p>Total apostado</p>
            <p>R$ 2,770.19</p>
          </div>

          <div class="roulette-users-header">
            <p>Usuário</p>
            <p>Quantia</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/gold.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/diamond.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/diamond.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/platinum.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/platinum.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/diamond.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/platinum.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/diamond.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/gold.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/gold.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="footer">
            <p class="qtd-players">+846 Jogadores</p>
            <p>R$ 4,737.30</p>
          </div>
        </div>

        <div class="roulette black">
          <div class="color-value">
            <h3>Vitória 2X</h3>
            <img
              src="../../../../../assets/images/black-box.svg"
              alt="red-box"
            />
          </div>

          <div class="rouletted-header">
            <p>Total apostado</p>
            <p>R$ 2,770.19</p>
          </div>

          <div class="roulette-users-header">
            <p>Usuário</p>
            <p>Quantia</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/gold.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/diamond.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/diamond.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/platinum.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/platinum.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/diamond.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/platinum.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/diamond.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/gold.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/gold.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="footer">
            <p class="qtd-players">+846 Jogadores</p>
            <p>R$ 4,737.30</p>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="DESCRIÇÃO DO JOGO">
      <div class="description">
        <h3>Blaze Double</h3>

        <div class="description-game">
          <div class="image">
            <img
              src="../../../../../assets/images/double-blaze-originals.png"
              alt="double-blaze-originals"
            />
          </div>

          <div class="content">
            <div class="tags-container">
              <div class="tag">BLAZE-ORIGINALS</div>
              <div class="tag">POLULAR</div>
              <div class="tag">CASUAL</div>
            </div>

            <p class="text">
              Prepare-se para uma experiência repleta de adrenalina,
              Multiplicadores e oportunidades únicas de vitória em Blaze Double.
              Este Jogo Ao Vivo clássico dos Cassinos Online é um dos principais
              Blaze Originals e tem nosso selo de qualidade — aliando gráficos
              minimalistas e interface intuitiva em uma experiência social. Seja
              você um jogador iniciante ou experiente, a jogabilidade deste
              icônico título é simples e acolhedora. Aposte em qual das três
              core...
            </p>

            <span class="read-more">Leia Mais</span>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</section>
