<section id="tabs-description-double">
  <mat-tab-group
    [selectedIndex]="activeTabIndex"
    (selectedIndexChange)="onTabChange($event)"
  >
    <mat-tab label="APOSTAS">
      <div class="roulette-container">
        <div class="roulette red">
          <div class="color-value">
            <h3>Vitória 2X</h3>
            <img src="../../../../../assets/images/red-box.svg" alt="red-box" />
          </div>

          <div class="rouletted-header">
            <p>Total apostado</p>
            <p>R$ 2,770.19</p>
          </div>

          <div class="roulette-users-header">
            <p>Usuário</p>
            <p>Quantia</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/gold.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/diamond.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/diamond.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/platinum.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/platinum.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/diamond.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/platinum.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/diamond.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/gold.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/gold.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="footer">
            <p class="qtd-players">+846 Jogadores</p>
            <p>R$ 4,737.30</p>
          </div>
        </div>

        <div class="roulette white">
          <div class="color-value">
            <h3>Vitória 14X</h3>
            <img
              src="../../../../../assets/images/logo_white.jpg"
              style="border-radius: 8px"
              alt="logo_white"
            />
          </div>

          <div class="rouletted-header">
            <p>Total apostado</p>
            <p>R$ 2,770.19</p>
          </div>

          <div class="roulette-users-header">
            <p>Usuário</p>
            <p>Quantia</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/gold.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/diamond.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/diamond.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/platinum.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/platinum.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/diamond.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/platinum.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/diamond.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/gold.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/gold.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="footer">
            <p class="qtd-players">+846 Jogadores</p>
            <p>R$ 4,737.30</p>
          </div>
        </div>

        <div class="roulette black">
          <div class="color-value">
            <h3>Vitória 2X</h3>
            <img
              src="../../../../../assets/images/black-box.svg"
              alt="red-box"
            />
          </div>

          <div class="rouletted-header">
            <p>Total apostado</p>
            <p>R$ 2,770.19</p>
          </div>

          <div class="roulette-users-header">
            <p>Usuário</p>
            <p>Quantia</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/gold.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/diamond.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/diamond.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/platinum.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/platinum.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/diamond.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/platinum.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/diamond.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/gold.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="roulette-item">
            <div class="user">
              <img
                src="../../../../../assets/images/gold.svg"
                alt="diamond user"
              />

              <p>joão</p>
            </div>

            <p>R$ 400.00</p>
          </div>

          <div class="footer">
            <p class="qtd-players">+846 Jogadores</p>
            <p>R$ 4,737.30</p>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="DESCRIÇÃO DO JOGO">
      <p>descrição</p>
    </mat-tab>
  </mat-tab-group>
</section>
