<section class="modal-register">
  <div class="modal-image-container">
    <img
      class="banner"
      src="../../../../assets/images/blaze-banner-register.svg"
      alt="banner de registro"
    />
    <div class="p-a-1">
      <p class="advantages">
        Cadastre-se e desbloqueie sua experiência exclusiva
      </p>
      <p class="attention">
        <img
          src="../../../../assets/images/18plus.png"
          alt="18plus"
          id="plus18"
        />
        Jogue com responsabilidade
      </p>
    </div>
  </div>

  <div class="register-body">
    <img
      src="../../../../assets/images/close.svg"
      alt="fechar modal"
      class="btn-close"
      (click)="closeModal()"
    />

    <div class="container-logo">
      <img src="../../../../assets/images/logo.svg" alt="logo" class="logo" />
    </div>
    <h3 class="title">Cadastre-se na Blaze</h3>

    <form class="form">
      <div class="container-inputs">
        <input type="email" placeholder="Email" class="input" />
        <input type="password" placeholder="Senha" class="input" />
        <input type="text" placeholder="CPF" class="input" />
      </div>

      <button class="btn">Comece já!</button>
    </form>

    <div class="divider">
      <span>OU</span>
    </div>

    <button class="btn-social">
      <img
        src="../../../../assets/images/google.svg"
        alt="login com o google"
      />
      Faça login com o Google
    </button>

    <p class="terms">já tem uma conta? <span>Entrar</span></p>
  </div>
</section>
