.main-container {
  display: flex;
  height: 100%;

  .container-nav {
    width: 245px;
    min-width: 245px;
    height: auto;
    height: auto;
    background-color: #0f1923;
    padding: 18px 23px 15px;

    .christmas-btn-container {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      padding: 10px;
      background-color: #f12c4c;
      transition: all 0.5s;
      cursor: pointer;

      .text {
        color: #fff;
        font-size: 12px;
        font-weight: 600;
      }

      &:hover {
        background-color: initial;
        border: 1px solid #323b45;
      }
    }
  }

  .content {
    max-width: 1104px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 0 16px;
    overflow: auto;
  }
}

mat-expansion-panel {
  margin-top: 1rem;
  background-color: transparent;

  mat-expansion-panel-header mat-panel-title {
    font-size: 12px;
    color: var(--light-grey) !important;
  }
  .menu-options {
    display: flex;
    flex-direction: column;

    .item {
      display: flex;
      align-items: center;
      gap: 15px;
      color: var(--white);
      padding: 10px 0;
      font-size: 14px;
      font-family: var(--ff-main);
      cursor: pointer;

      &.selected {
        border-right: 3px solid var(--red);
      }
    }
  }
}

mat-expansion-panel {
  box-shadow: none !important;
  padding: 10px;
}

mat-expansion-panel-header {
  background-color: transparent !important;
  transition: none !important;
  padding: 0px;
}

mat-expansion-panel-header:hover {
  background-color: transparent !important;
}

mat-expansion-panel-header {
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
}

mat-expansion-panel-header:hover {
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
}

@media (max-width: 1249px) {
  .main-container .container-nav {
    display: none;
  }
}
