<app-header></app-header>
<main class="main-container">
  <div class="container-nav">
    <button
      type="button"
      class="christmas-btn-container"
      [disabled]="isBonusOnCooldown"
      (click)="claimBonus()"
    >
      <span class="text">
        {{ isBonusOnCooldown ? bonusButtonText : "💵 " + bonusButtonText + " Grátis" }}
      </span>
    </button>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>ORIGINAIS DA BLAZE</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="menu-options">
          <a
            class="item"
            routerLink="/crash"
            routerLinkActive="selected"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <img src="../assets/images/clash.svg" alt="clash" />
            <span>Crash</span>
          </a>
          <a
            class="item"
            routerLink="/"
            routerLinkActive="selected"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <img src="../assets/images/double.svg" alt="double" />
            <span>Double</span>
          </a>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="content">
    <router-outlet />
  </div>
</main>
