<footer class="footer">
  <div class="column">
    <div class="title">
      <img src="../../../../assets/images/logo.svg" alt="logo" />
    </div>

    <div class="row">
      <img
        src="../../../../assets/images/x.svg"
        width="24"
        height="24"
        alt="twitter"
      />
      <img
        src="../../../../assets/images/instagram.svg"
        width="24"
        height="24"
        alt="instagram"
      />
    </div>
  </div>

  <div class="links-container">
    <div class="column">
      <div class="title">
        <h3>Links úteis</h3>
      </div>
      <div class="row">
        <p>Crash</p>
      </div>
  
      <div class="row">
        <p>Mines</p>
      </div>
  
      <div class="row">
        <p>Double</p>
      </div>
  
      <div class="row">
        <p>Blaze Mirror</p>
      </div>
  
      <div class="row">
        <p>Justiça</p>
      </div>
  
      <div class="row">
        <p>Clube VIP</p>
      </div>
    </div>
  
    <div class="column">
      <div class="title">
        <h3>Sobre nós</h3>
      </div>
  
      <div class="row">
        <p>Termos de Serviço</p>
      </div>
  
      <div class="row">
        <p>Política de Privacidade</p>
      </div>
  
      <div class="row">
        <p>Termos de Recompensa</p>
      </div>
  
      <div class="row">
        <p>Afiliados</p>
      </div>
  
      <div class="row">
        <p>Jogo Responsável</p>
      </div>
  
      <div class="row">
        <p>Política de Privacidade</p>
      </div>
    </div>
  </div>
</footer>
