:root {
  --black: #0f1923;
  --red: #f12c4c;
  --white: #ffffff;
  --gray: #1a242d;
  --separator: #323b45;
  --light-grey: #bcbfc7;
  --dark-grey: #8a90a2;
  --dark-background-four: #262f3c;
  --lime-green-two: #06e385;
  --footer-color: #1a242d;
  --ff-main: SofiaPro, "Roboto", sans-serif, Nasalization;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  outline: none;
  border: none;
  font-family: SofiaPro, "Roboto", sans-serif, Nasalization !important;
  background-color: #0f1923;
  box-sizing: border-box;
}

button {
  border: none;
}

/* scroll */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1b1d2b;
}

::-webkit-scrollbar-thumb {
  background: #2d2f3c;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.border-l-separator {
  border: 1px solid var(--separator);
}

.mat-expansion-panel-body {
  padding: 0px !important;
}

input {
  all: unset;
  display: inline-block;
  width: 100%;
  height: auto;
  border: none;
  outline: none;
  background: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
}