<section class="double-container">
    <div class="menu">teste 1</div>
    <div class="painel">
        <div class="container-carrosel">
            <div class="card red">
                <span class="white-rounded p1d">12</span>
            </div>
            <div class="card black">
                <span class="white-rounded p1d">1</span>
            </div>

            <div class="card big-win">
                <img src="../../../assets/images/logo_white.jpg" alt="big win">
            </div>
        </div>
    </div>
</section>