.double-container {
  display: flex;
  width: 100%;
  height: 100%;

  .menu {
    min-width: 325px;
    height: 100%;
    padding: 16px 24px;
    background-color: red;
  }

  .painel {
    background-color: var(--gray);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    .container-carrosel {
      background-color: var(--black);
      position: relative;
      height: 24rem;
      overflow: hidden;

      .indicator-line {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 4px;
        height: 36%;
        background-color: #fff;
        transform: translate(-50%, -50%);
        z-index: 10;
      }

      swiper-container {
        width: 100%;
        height: 100%;
        display: block;
        overflow: hidden;
      }

      /* Ajuste os slides mantendo width: min-content; */
      swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        width: min-content; /* Mantendo min-content */
      }

      .card {
        height: 75px;
        width: 75px;
        margin: 3px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 1.5em;
      }

      .card.red {
        background-color: #f95146;
      }

      .card.black {
        background-color: #2d3035;
      }

      .white-rounded {
        border: 4px solid white;
        border-radius: 100%;
        min-height: 59px;
        min-width: 59px;
        text-align: center;
      }

      .p1d {
        padding: 12px;
      }

      .card.big-win {
        img {
          width: 100%;
          height: 100%;
          border-radius: 8px;
        }
      }
    }
  }
}

.controls {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 20;

  button {
    background: #fff;
    color: #000;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
  }
}
