<div id="double-component">
  <section class="double-container">
    <div class="menu">
      <div class="tootle-menu">
        <span
          [class.selected]="selectedMode === 'Normal'"
          (click)="toggleMode('Normal')"
        >
          Normal
        </span>
        <span
          [class.selected]="selectedMode === 'Auto'"
          (click)="toggleMode('Auto')"
        >
          Auto
        </span>
      </div>

      <div class="bet-input-row">
        <div class="input-bet">
          <div class="input-wrapper">
            <input id="quantia" type="number" placeholder="Quantia" />
            <span class="input-icon">R$</span>
          </div>
        </div>

        <div class="half">
          <span>½</span>
        </div>

        <div class="double">
          <span>2x</span>
        </div>
      </div>

      <div class="container-select-color">
        <span class="title">Selecionar Cor</span>

        <div class="container-colors-options">
          <div
            class="red"
            [class.selected]="selectedColor === 'red'"
            (click)="selectColor('red')"
          >
            <span>x2</span>
          </div>

          <div
            class="white"
            [class.selected]="selectedColor === 'white'"
            (click)="selectColor('white')"
          >
            <span>x14</span>
          </div>

          <div
            class="black"
            [class.selected]="selectedColor === 'black'"
            (click)="selectColor('black')"
          >
            <span>x2</span>
          </div>
        </div>
      </div>

      <button class="btn">Começar o jogo</button>
    </div>
    <div class="r-container">
      <div class="painel">
        <div class="container-carrosel">
          <div class="indicator-line"></div>
          <!-- Barra de progresso -->
          <div
            class="progress-container"
            [class.countdown-active]="isCountingDown"
          >
            <div class="progress-bar" #progressBar></div>
            <p class="progress-text" #progressText></p>
          </div>

          <swiper-container
            #mySwiper
            loop="true"
            slides-per-view="auto"
            centeredSlides="true"
            space-between="10"
            allow-touch-move="false"
          >
            <swiper-slide
              ><div class="card red red-1">
                <span class="white-rounded p1d">1</span>
              </div></swiper-slide
            >
            <swiper-slide
              ><div class="card black black-14">
                <span class="white-rounded p1d">14</span>
              </div></swiper-slide
            >
            <swiper-slide
              ><div class="card red red-2">
                <span class="white-rounded p1d">2</span>
              </div></swiper-slide
            >
            <swiper-slide
              ><div class="card black black-13">
                <span class="white-rounded p1d">13</span>
              </div></swiper-slide
            >
            <swiper-slide
              ><div class="card red red-3">
                <span class="white-rounded p1d">3</span>
              </div></swiper-slide
            >
            <swiper-slide
              ><div class="card black black-12">
                <span class="white-rounded p1d">12</span>
              </div></swiper-slide
            >
            <swiper-slide
              ><div class="card red red-4">
                <span class="white-rounded p1d">4</span>
              </div></swiper-slide
            >
            <swiper-slide
              ><div class="card big-win white">
                <img
                  src="../../../assets/images/logo_white.jpg"
                  alt="big win"
                /></div
            ></swiper-slide>
            <swiper-slide
              ><div class="card black black-11">
                <span class="white-rounded p1d">11</span>
              </div></swiper-slide
            >
            <swiper-slide
              ><div class="card red red-5">
                <span class="white-rounded p1d">5</span>
              </div></swiper-slide
            >
            <swiper-slide
              ><div class="card black black-10">
                <span class="white-rounded p1d">10</span>
              </div></swiper-slide
            >
            <swiper-slide
              ><div class="card red red-6">
                <span class="white-rounded p1d">6</span>
              </div></swiper-slide
            >
            <swiper-slide
              ><div class="card black black-9">
                <span class="white-rounded p1d">9</span>
              </div></swiper-slide
            >
            <swiper-slide
              ><div class="card red red-7">
                <span class="white-rounded p1d">7</span>
              </div></swiper-slide
            >
            <swiper-slide
              ><div class="card black black-8">
                <span class="white-rounded p1d">8</span>
              </div></swiper-slide
            >
            <swiper-slide
              ><div class="card red red-8">
                <span class="white-rounded p1d">8</span>
              </div></swiper-slide
            >
            <swiper-slide
              ><div class="card black black-7">
                <span class="white-rounded p1d">7</span>
              </div></swiper-slide
            >
            <swiper-slide
              ><div class="card red red-9">
                <span class="white-rounded p1d">9</span>
              </div></swiper-slide
            >
            <swiper-slide
              ><div class="card black black-6">
                <span class="white-rounded p1d">6</span>
              </div></swiper-slide
            >
            <swiper-slide
              ><div class="card red red-10">
                <span class="white-rounded p1d">10</span>
              </div></swiper-slide
            >
            <swiper-slide
              ><div class="card black black-5">
                <span class="white-rounded p1d">5</span>
              </div></swiper-slide
            >
            <swiper-slide
              ><div class="card red red-11">
                <span class="white-rounded p1d">11</span>
              </div></swiper-slide
            >
            <swiper-slide
              ><div class="card black black-4">
                <span class="white-rounded p1d">4</span>
              </div></swiper-slide
            >
            <swiper-slide
              ><div class="card red red-12">
                <span class="white-rounded p1d">12</span>
              </div></swiper-slide
            >
            <swiper-slide
              ><div class="card black black-3">
                <span class="white-rounded p1d">3</span>
              </div></swiper-slide
            >
            <swiper-slide
              ><div class="card red red-13">
                <span class="white-rounded p1d">13</span>
              </div></swiper-slide
            >
            <swiper-slide
              ><div class="card black black-2">
                <span class="white-rounded p1d">2</span>
              </div></swiper-slide
            >
            <swiper-slide
              ><div class="card red red-14">
                <span class="white-rounded p1d">14</span>
              </div></swiper-slide
            >
            <swiper-slide
              ><div class="card black black-1">
                <span class="white-rounded p1d">1</span>
              </div></swiper-slide
            >
          </swiper-container>
        </div>

        <div class="status-indicator">
          <div class="pulse"></div>
          <span>Online</span>
        </div>
      </div>
      <div class="roulette-recent">
        <h4>Giros Anteriores</h4>

        <div class="roulette-previous casino-recent">
          <div class="sm-box border-l-separator fairness-modal-link">
            <svg
              width="14px"
              height="13px"
              viewBox="0 0 14 13"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
            >
              <title>analytics</title>
              <desc>Created with Sketch.</desc>
              <g
                id="desktop"
                stroke="none"
                strokeWidth="1"
                fill="none"
                fill-rule="evenodd"
              >
                <g
                  id="double-game-rolling-chat-open"
                  transform="translate(-1008.000000, -524.000000)"
                  fill="#73798F"
                  fill-rule="nonzero"
                >
                  <g
                    id="Group-14"
                    transform="translate(999.000000, 514.000000)"
                  >
                    <g
                      id="analytics"
                      transform="translate(16.000000, 16.500000) scale(-1, 1) translate(-16.000000, -16.500000) translate(9.000000, 10.000000)"
                    >
                      <rect
                        id="Rectangle"
                        x="0"
                        y="0"
                        width="2"
                        height="13"
                        rx="1"
                      ></rect>
                      <rect
                        id="Rectangle"
                        x="4"
                        y="5"
                        width="2"
                        height="8"
                        rx="1"
                      ></rect>
                      <rect
                        id="Rectangle"
                        x="8"
                        y="3"
                        width="2"
                        height="10"
                        rx="1"
                      ></rect>
                      <rect
                        id="Rectangle"
                        x="12"
                        y="8"
                        width="2"
                        height="5"
                        rx="1"
                      ></rect>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </div>

          <div class="sm-box red">
            <span>1</span>
          </div>

          <div class="sm-box black">
            <span>6</span>
          </div>

          <div class="sm-box red">
            <span>4</span>
          </div>

          <div class="sm-box red">
            <span>10</span>
          </div>

          <div class="sm-box black">
            <span>12</span>
          </div>

          <div class="sm-box">
            <img src="../../../assets/images/logo_white.jpg" alt="big win" />
          </div>

          <div class="sm-box black">
            <span>3</span>
          </div>

          <div class="sm-box black">
            <span>2</span>
          </div>

          <div class="sm-box red">
            <span>9</span>
          </div>

          <div class="sm-box red">
            <span>11</span>
          </div>

          <div class="sm-box black">
            <span>14</span>
          </div>

          <div class="sm-box red">
            <span>4</span>
          </div>

          <div class="sm-box black">
            <span>1</span>
          </div>

          <div class="sm-box red">
            <span>7</span>
          </div>

          <div class="sm-box black">
            <span>10</span>
          </div>

          <div class="sm-box red">
            <span>1</span>
          </div>

          <div class="sm-box red">
            <span>5</span>
          </div>

          <div class="sm-box black">
            <span>14</span>
          </div>

          <div class="sm-box red">
            <span>9</span>
          </div>

          <div class="sm-box red">
            <span>1</span>
          </div>

          <div class="sm-box black">
            <span>2</span>
          </div>

          <div class="sm-box red">
            <span>14</span>
          </div>

          <div class="sm-box black">
            <span>2</span>
          </div>

          <div class="sm-box red">
            <span>8</span>
          </div>

          <div class="sm-box red">
            <span>1</span>
          </div>

          <div class="sm-box black">
            <span>4</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <app-tabs-description-double />

  <app-footer />
</div>
