<section class="double-container">
    <div class="menu">teste 1</div>
    <div class="painel">
      <div class="container-carrosel">
        <div class="indicator-line"></div>
        <!-- Linha vertical central -->
        <swiper-container
          #mySwiper
          loop="true"
          slides-per-view="auto"
          centeredSlides="true"
          space-between="10"
          speed="100"
          autoplay='{"delay":0,"disableOnInteraction":false}'
        >
          <!-- R(1), B(14) -->
          <swiper-slide>
            <div class="card red">
              <span class="white-rounded p1d">1</span>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="card black">
              <span class="white-rounded p1d">14</span>
            </div>
          </swiper-slide>
  
          <!-- R(2), B(13) -->
          <swiper-slide>
            <div class="card red">
              <span class="white-rounded p1d">2</span>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="card black">
              <span class="white-rounded p1d">13</span>
            </div>
          </swiper-slide>
  
          <!-- R(3), B(12) -->
          <swiper-slide>
            <div class="card red">
              <span class="white-rounded p1d">3</span>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="card black">
              <span class="white-rounded p1d">12</span>
            </div>
          </swiper-slide>
  
          <!-- R(4), White, B(11) -->
          <swiper-slide>
            <div class="card red">
              <span class="white-rounded p1d">4</span>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="card big-win">
              <img src="../../../assets/images/logo_white.jpg" alt="big win" />
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="card black">
              <span class="white-rounded p1d">11</span>
            </div>
          </swiper-slide>
  
          <!-- R(5), B(10) -->
          <swiper-slide>
            <div class="card red">
              <span class="white-rounded p1d">5</span>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="card black">
              <span class="white-rounded p1d">10</span>
            </div>
          </swiper-slide>
  
          <!-- R(6), B(9) -->
          <swiper-slide>
            <div class="card red">
              <span class="white-rounded p1d">6</span>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="card black">
              <span class="white-rounded p1d">9</span>
            </div>
          </swiper-slide>
  
          <!-- R(7), B(8) -->
          <swiper-slide>
            <div class="card red">
              <span class="white-rounded p1d">7</span>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="card black">
              <span class="white-rounded p1d">8</span>
            </div>
          </swiper-slide>
  
          <!-- R(8), B(7) -->
          <swiper-slide>
            <div class="card red">
              <span class="white-rounded p1d">8</span>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="card black">
              <span class="white-rounded p1d">7</span>
            </div>
          </swiper-slide>
  
          <!-- R(9), B(6) -->
          <swiper-slide>
            <div class="card red">
              <span class="white-rounded p1d">9</span>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="card black">
              <span class="white-rounded p1d">6</span>
            </div>
          </swiper-slide>
  
          <!-- R(10), B(5) -->
          <swiper-slide>
            <div class="card red">
              <span class="white-rounded p1d">10</span>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="card black">
              <span class="white-rounded p1d">5</span>
            </div>
          </swiper-slide>
  
          <!-- R(11), B(4) -->
          <swiper-slide>
            <div class="card red">
              <span class="white-rounded p1d">11</span>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="card black">
              <span class="white-rounded p1d">4</span>
            </div>
          </swiper-slide>
  
          <!-- R(12), B(3) -->
          <swiper-slide>
            <div class="card red">
              <span class="white-rounded p1d">12</span>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="card black">
              <span class="white-rounded p1d">3</span>
            </div>
          </swiper-slide>
  
          <!-- R(13), B(2) -->
          <swiper-slide>
            <div class="card red">
              <span class="white-rounded p1d">13</span>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="card black">
              <span class="white-rounded p1d">2</span>
            </div>
          </swiper-slide>
  
          <!-- R(14), B(1) -->
          <swiper-slide>
            <div class="card red">
              <span class="white-rounded p1d">14</span>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="card black">
              <span class="white-rounded p1d">1</span>
            </div>
          </swiper-slide>
        </swiper-container>
      </div>
    </div>
    <div class="controls">
      <button (click)="nextSlide()">Próximo</button>
      <button (click)="prevSlide()">Anterior</button>
      <button (click)="randomStop()">Sortear e Parar</button>
    </div>
  </section>
  